@import "../bootstrap.min.css";

$green: "#41B883";
$gray: "#34495E";

#navbar {
  background: #41b883 !important;
}
.title {
  color: #41b883;
  font-size: 1.5rem;
}
.btn-green {
  background: #41b883 !important;
}
